{% load static %}
<footer>
    <section class="container subscribe-container">
        <img src="{% static 'images/home/empty mail box.png' %}" alt="empty mail box">
        <div>
            <h5>Subscribe to receive stories & tips</h5>
            <p>Stories share by the public plus tips & guide on scamming will be sent to you regularly.</p>
        </div>
        <form action="">
            <input type="text" name="" id="" placeholder="Email address" />
            <button class="btn">Subscribe</button>
        </form>
    </section>
    <section class="container grid main-footer-content">
        <div>
            <div class="scam-logo-container">
                <img src="{% static 'images/logo2.png' %}" alt="scam alert logo" />
                <strong>Scam Alert</strong>
            </div>
            <p>
                Scam Alert is a non-profit organisation committed to promoting public awareness and concern about
                crime and to propagate the concept of self-help in crime prevention.
            </p>
        </div>
        <div>
            <h4>Company</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Our Vision</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Get help</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
        <div>
            <h4>Legal</h4>
            <ul>
                <li><a href="#">Legal Notice</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Us</a></li>
                <li><a href="#">DPA</a></li>
                <li><a href="#">DMCA Policy</a></li>
                <li><a href="#">ERDF Support</a></li>
            </ul>
        </div>
        <div>
            <h4>Follow us</h4>
            <div class="social-containers">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </section>
    <hr>
    <section class="container copyrights">
        &copy;
        <span class="year">2022</span>
        scamalert.com. All rights reserved.
    </section>
</footer>